body {
    background-color: rgb(34, 34, 34)
}

.container {
    margin: 5%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    background-color: #171717;
}

.green {
    color: rgb(60, 149, 38);
}